body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32 49 127);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor:pointer;
}

.customDisable{
  opacity: 0.5;
  pointer-events: none;
}

body { padding-top: 6vh; }

.carousel{
  width:100%;
  height:70vh;
  background-color:white;
}

.carousel-inner{
  height:100%;
  width: 100%;
}

#navbar{
  background-color: rgb(248 195 1) !important;
  padding: 0px;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Sigmar One', cursive;
  font-weight:bold;
}

#navbar-logo{
  padding:0px !important;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item {
  color: rgb(32 49 127);
}
.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: rgb(32 49 127);
  color: rgb(248 195 1);
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(32 49 127);
}
.navbar-light .navbar-nav .nav-link:hover {
  background-color: rgb(32 49 127);
  color: rgb(248 195 1);
}

#nav-icon{
  color: rgb(32 49 127);
}
#nav-icon:hover{
  color:rgb(15, 22, 56);
  font-weight:bold;
}

#article-title, #book-title{
  font-family: 'Markazi Text', serif;
  text-decoration: none; 
  color:rgb(32 49 127);
}
#article-title:hover, #book-title:hover{ 
  color:rgb(32 49 127);
  font-weight: bold;
}

.card:hover{
  color:rgb(32 49 127);
}


.card{
  border-radius: 0;
  box-shadow: 5px 5px 15px #9E9E9E;
  transition: all 0.3s ease-in;
  --webkit-transition: all 0.3s ease-in;
  --moz-transition: all 0.3s ease-in;
}

.card:hover{
  border-radius:5px;
  border:none;
  box-shadow: 5px 5px 10px rgb(248 195 1);  
  background-color: rgb(248 195 1);
  
  
}

.footer-section{
  background-color: rgb(248 195 1);
  color: rgb(32 49 127);
  font-family: 'Anton', sans-serif;
}

.footer-icon:hover{
  color:rgb(15, 22, 56);
  font-weight:bold;
}

#footer-item{
  background-color: rgba(255, 196, 0, 0.945);
  color: rgb(32 49 127);
  font-family: 'Anton', sans-serif;
}

#donate{
  background-color: rgb(32 49 127);
  color: rgb(248 195 1) !important;
}
#donatenav{
  background-color: rgb(32 49 127);;
  color: rgb(248 195 1);
}

#submit{
  color: rgb(32 49 127);;
  background-color: rgb(248 195 1);
}
#submit:hover{
  font-weight: bold;
}

#donate:hover{
  color: rgb(248 195 1) !important;
  background-color: #fff !important;
}
#donatenav:hover{
  color: rgb(248 195 1) !important;
  background-color: #fff !important;
}

#feedbackicon{
  color: rgb(32 49 127);
}
#feedbackicon:hover{
  color: rgb(15, 22, 56);
  font-weight: bold;
}

thead{
  background-color: rgb(248 195 1);
  color: rgb(32 49 127);
}
tbody{
  color: rgb(248 195 1);
  background-color: rgb(32 49 127);
}

#date{
  font-style: italic;
}

.myinput{
  background-color: rgb(248 195 1);
  color: rgb(32 49 127);
}

#dropdowntoggle{
  background-color: rgb(248 195 1);
  color: rgb(32 49 127);
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}
#dropdowntoggle:hover{
  color:rgb(248 195 1);
  background-color:#fff;
}

.mydropdownitem{
  color: rgb(32 49 127);
}
.mydropdownitem:hover{
  background-color:rgb(248 195 1);
  color:#fff;
}

.mycardheader{
  color: white;
}

@media(max-width: 1000px) {
  .navbar{
  }
  .navbar-toggler{
    color:white !important;
    background-color: rgb(32 49 127);
  }
  #navbar-div{
    padding-left: 0px;
    margin-left: 0px;
  }
}

.item{
  transition-duration: .5s ease-in-out;
}

.item:hover{
  filter:brightness(80%);
}

#slideritem{
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
}